[*.py]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.md]
insert_final_newline = true
trim_trailing_whitespace = false # Double space at EOL means line break.
indent_style = space
indent_size = 2
